/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: MyFont;
  src: url("./assets/Fonts/Metropolis/Metropolis-MediumItalic.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: MyFont !important;
  background-image: url("./assets/Images/Illustration1.png"),
    url("./assets/Images/Illustration2.png"),
    url("./assets/Images/Illustration3.png"),
    url("./assets/Images/Illustration4.png"),
    url("./assets/Images/Illustration5.png");
  background-position: bottom -15% left -12%, top -30% right -5%,
    left 20% center, right -3% bottom -5%, right 4% bottom 15%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-attachment: fixed;
}
